/* style.css */
html, body {
    height: 100px;
    width: 1200px;
    /* background-color: lightblue; */
}
head {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}
#h1color {
    color: navy;
    background-color: lightgray;
    margin-left: 20px;
}

.heading {
    color:blueviolet;
    font-family: Arial, sans-serif;
    text-align: center;
}

*{
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: lightblue;
     */
     background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlnaHQlMjBibHVlfGVufDB8fDB8fHww&w=1000&q=80");
    opacity: 0.9;
    background-position: right top;
}